{{/* The paginator is passed in from list.html, which is why it's lowercase. */}}
 <div class="list-count">
  <span id="filtered-count">{{ .paginator.TotalNumberOfElements }}</span>
  {{ if eq .paginator.TotalNumberOfElements 1 }}{{ i18n "postSingular" }}{{ else }}{{ i18n "postPlural" }}{{ end }}
  {{ if gt .paginator.TotalPages 1 }}
    <span class="list-count-pages">({{ .paginator.TotalPages }} {{ if eq .paginator.TotalPages 1 }}{{ i18n "pageSingular" }}{{ else }}{{ i18n "pagePlural" }}{{ end }})</span>
  {{ end }}
</div>

