{{ $image := .Params.image }}
{{ $imageResource := false }}

{{ if $image }}
  {{/* Try to resolve as page resource first (content folder) */}}
  {{ $imageResource = .Resources.Get $image }}
  {{ if not $imageResource }}
    {{ $imageResource = .Resources.GetMatch $image }}
  {{ end }}
  
  {{/* If not found as page resource, try as static resource */}}
  {{ if not $imageResource }}
    {{ $imageResource = resources.Get $image }}
  {{ end }}
{{ else }}
  {{/* Auto-discovery: try to find image based on title */}}
  {{ $titleSlug := .Title | urlize }}
  {{ $imageExtensions := slice ".png" ".jpg" ".jpeg" ".webp" }}
  {{ range $imageExtensions }}
    {{ $potentialImage := printf "/images/%s%s" $titleSlug . }}
    {{ $staticPath := printf "static/images/%s%s" $titleSlug . }}
    {{ if (fileExists $staticPath) }}
      {{ $image = $potentialImage }}
      {{ $imageResource = resources.Get $image }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $image }}
  <div class="post-image">
    <a href="{{ .RelPermalink }}" onclick="event.stopPropagation();" aria-label="Read {{ .Title }}">
      <img
        src="{{ if $imageResource }}{{ $imageResource.RelPermalink }}{{ else }}{{ $image | relURL }}{{ end }}"
        alt="{{ if .Description }}
          {{ .Description }}
        {{ else }}
          {{ .Title }} - Featured image
        {{ end }}"
        loading="lazy"
        width="1200"
        height="630">
    </a>
  </div>
{{ end }}
